<div class="container">
  <div class="jumbotron mt-3 border border-dark">
    <h2 class="text-center"> Ready to become a host? <i class="fas fa-concierge-bell"></i></h2>
    <em><h6 class="text-center"> Fill out the form below and our <span class="badge badge-warning">moderators</span> will get back to you once we verify your information.</h6></em>
    <div class="jumbotron">
      <%= form_with scope: :listing, url: listings_path, local: true do |form| %>
      <hr class="my-3">
      <h3>The Basics</h3></br>
      <div class="text-field mb-3">
        <%= form.label "Lets start with your home type:" %></br>
        <%= form.select :home_type, [
          "House", "Apartment",
          "Secondary Unit", "Boutique Hotel",
          "Bed & Breakfast", "Unique Space"
        ],
        class:"form-control" %></br>
      </div>

      <div class="text-field mb-3">
        <%= form.label "What type of property is your home?" %></br>
        <%= form.select :property_type, [
          "House", "Apartment", "Bungalow",
          "Cabin", "Casa Particular", "Chalet",
          "Cottage", "Cycladic House", "Dammuso (Italy)",
          "Dome House", "Earth House", "Farm Stay",
          "Houseboat", "Hut", "Lighthouse", "Pension (South Korea)",
          "Tiny Home", "Townhouse", "Villa"
        ],
        class:"form-control" %></br>
      </div>

      <div class="text-field mb-3">
        <%= form.label "How many guests can you accomodate?" %></br>
        <%= form.select :maximum_guests, ["1", "2", "3",
          "4", "5", "6",
          "7", "8", "9",
          "10", "11", "12",
          "13", "14", "15",
          "16", "17", "18",
          "19", "20"
        ],
        class:"form-control" %></br>
      </div>

      <div class="text-field mb-3">
        <%= form.label "How many beds can guests use?" %></br>
        <%= form.select :beds, [
          "1 Bed", "2 Beds", "3 Beds",
          "4 Beds", "5 Beds", "6 Beds",
          "7 Beds", "8 Beds", "9 Beds",
          "10 Beds"
        ],
        class:"form-control" %></br>
      </div>

      <div class="text-field mb-3">
        <%= form.label "How many bathrooms does your property have?" %></br>
        <%= form.select :bathrooms, [
        "1 Bathroom", "2 Bathrooms", "3 Bathrooms",
        "4 Bathrooms", "5 Bathrooms", "6 Bathrooms",
        "7 Bathrooms", "8 Bathrooms", "9 Bathrooms",
        "10 Bathrooms"
        ],
        class:"form-control" %></br></br>
      </div>
      <hr class="my-4">
      <h3>Location & Address</h3></br>
      <div class="text-field mb-3">
        <%= form.label "Please select your country:" %></br>
        <%= form.select :country, [
        "United States","Malaysia", "Japan",
        "Singapore", "Australia", "Canada", "Thailand",
        "England", "France", "Italy",
        "South Korea"
        ],
        class:"form-control" %></br>
      </div>

      <div class="text-field">
        <%= form.label :street_address %>
        <%= form.text_field :street_address, class:"form-control", placeholder:"No. 1, Calabasas Road"%>
      </div>

      <div class="text-field">
        <%= form.label "Room / Apt. Number" %>
        <%= form.text_field :room_number, class:"form-control", placeholder:"#8"%>
      </div>

      <div class="text-field">
        <%= form.label :city %>
        <%= form.text_field :city, class:"form-control", placeholder:"Cupertino"%>
      </div>

      <div class="text-field">
        <%= form.label :state %>
        <%= form.text_field :state, class:"form-control", placeholder:"California"%>
      </div>

      <div class="text-field">
        <%= form.label :zip_code %>
        <%= form.text_field :zip_code, class:"form-control", placeholder:"51300"%></br>
      </div>
      <hr class="my-4">
      <h3>Amenities & Shared Spaces</h3></br>
      <div class="text-field">
        <%= form.label "What amenities can you offer your guests?", class:"mb-2" %></br>
        <%= label_tag 'amenities', 'Essentials' %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Wi-Fi', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Shampoo', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Closet/Drawers', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'TV', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Heat', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Air Conditioning', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Breakfast, Coffee, Tea', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Desk/Workspace' %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Fireplace', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Iron', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Hair Dryer', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Pets in the House', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
        <%= label_tag 'amenities', 'Private Entrance', class:"ml-3" %>
        <%= form.check_box :amenities, { multiple: true }, class:"form-control"%>
      </div>
      </br>
      <div class="text-field">
        <%= form.label "What shared spaces will guests have access to?", class:"mb-2" %></br>
        <%= label_tag 'shared_spaces', 'Pool' %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Kitchen', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Laundry - Washer', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Laundry - Dryer', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Parking', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Elevator', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Hot-Tub', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
        <%= label_tag 'shared_spaces', 'Gym', class:"ml-3" %>
        <%= form.check_box :shared_spaces, { multiple: true }, class:"form-control"%>
      </div>
      <hr class="my-4">
      <h3>Additional information</h3></br>
      <div class="text-area">
        <%= form.label "Tell potential guests about what makes your place unique:" %>
        <%= form.text_area :description, class:"form-control", rows:"7" %>
        <small id="emailHelp" class="form-text text-muted">*Maximum 500 characters</small></br>
      </div>

      <div class="text-field">
        <%= form.label "Come up with an eye-catching title:" %>
        <%= form.text_field :title, class:"form-control"%>
        <small id="emailHelp" class="form-text text-muted">*Maximum 50 characters</small></br>
      </div>


      <label for="formControlRange">Cost per Night:(DOESNT WORK YET OK?)</label>
      <input type="range" class="form-control-range" id="formControlRange" min="1" max="1000" value="500"></br>

      <div class="text-field">
        <%= form.label :price_per_night %>
        <%= form.text_field :price_per_night, class:"form-control" %></br>
      </div>

      <div class="mb-3">
        <%= form.label :upload_image %></br>
        <%= form.file_field :image %>
      </div>

      <div>
        <%= form.submit "Create Listing", class:"btn btn-success"%>
      </div>

      <% end %>
    </div>
  </div>
</div>
