<div class="jumbotron">
  <h2 class="text-center"> Create a New Listing</h2>

  <div class="jumbotron">
    <%= form_with scope: :listing, url: listings_path, local: true do |form| %>
    <div class="text-field">
      <%= form.label :title %>
      <%= form.text_field :title, class:"form-control"%>
      <small id="emailHelp" class="form-text text-muted">*Maximum 20 characters</small></br>
    </div>

    <div class="text-area">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control", rows:"7" %></br>
    </div>

    <label for="formControlRange">Cost per Night:</label>
    <input type="range" class="form-control-range" id="formControlRange" min="1" max="1000" value="500"></br>

    <div class="text-field">
      <%= form.label :address %>
      <%= form.text_field :address, class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :availability_from %>
      <%= form.text_field :availability_from, class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :availability_to %>
      <%= form.text_field :availability_to, class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :maximum_guests %>
      <%= form.text_field :maximum_guests, class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :home_type %>
      <%= form.text_field :home_type, class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :room_type %>
      <%= form.text_field :room_type, class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :price_per_night %>
      <%= form.text_field :price_per_night, class:"form-control" %></br>
    </div>

    <div>
      <%= form.submit "Create Listing", class:"btn btn-success"%>
    </div>

    <div>
      <%= form.label :price_per_night %>
      <%= form.text_field :price_per_night, class:"form-control" %></br>
      <%= options_for_select([["Dollar", "$"], ["Kroner", "DKK"]]) %>
    </div>
    <% end %>
  </div>

</div>
