<div class="jumbotron">
  <h2 class="text-center"> Create a New Listing</h2>

  <div class="jumbotron">
    <%= form_with scope: :listing, url: listings_path, local: true do |form| %>
    <div class="text-field">
      <%= form.label :title %>
      <%= form.text_field :title, class:"form-control"%>
      <small id="emailHelp" class="form-text text-muted">*Maximum 20 characters</small></br>
    </div>

    <div class="text-area">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control", rows:"7" %></br>
    </div>

    <label for="formControlRange">Cost per Night:</label>
    <input type="range" class="form-control-range" id="formControlRange" min="1" max="1000" value="500"></br>

    <div class="text-field">
      <%= form.label :address %>
      <%= form.text_field :address, class:"form-control" %></br>
    </div>

    <div class="text-field mb-3">
      <%= form.label :maximum_guests %></br>
      <%= form.select :maximum_guests, ["1", "2", "3",
                                        "4", "5", "6",
                                        "7", "8", "9",
                                        "10", "11", "12",
                                        "13", "14", "15"
                                        ],
                                        class:"form-control" %></br>
    </div>

    <div class="text-field mb-3">
      <%= form.label :home_type %></br>
      <%= form.select :home_type, [
                                  "House", "Entire Floor", "Condominium",
                                  "Villa", "Townhouse", "Castle",
                                  "Treehouse", "Igloo", "Yurt",
                                  "Cave", "Chalet", "Hut", "Tent",
                                  "Other (Please Specify)"
                                  ],
                                  class:"form-control" %></br>
    </div>

    <div class="text-field mb-3">
      <%= form.label :room_type %></br>
      <%= form.select :room_type, [
                                  "Master", "Bedroom", "Study",
                                  "Basement", "Triple", "Double",
                                  "Single", "Queen", "King",
                                  "Other (Please Specify)"
                                  ],
                                  class:"form-control" %></br>
    </div>

    <div class="text-field">
      <%= form.label :price_per_night %>
      <%= form.text_field :price_per_night, class:"form-control" %></br>
    </div>

    <div class="mb-3">
      <%= form.label :upload_image %></br>
      <%= form.file_field :image %>
    </div>

    <div>
      <%= form.submit "Create Listing", class:"btn btn-success"%>
    </div>

    <% end %>
  </div>

</div>
