<!-- Show Page for individual Listings  -->
<div class="container mt-5">
  <div class="jumbotron">
    <h1><%= @listing.title %> </h1>
    <h5><%= @listing.description %> </h4></br>
    <hr class="my-4">
    <h4><i class="fas fa-dollar-sign"></i> <strong>Price per night:</strong> <%= @listing.price_per_night %> RM</h4></br>
    <h6><i class="fas fa-users"></i> <strong>Maximum Guests:</strong> <%= @listing.maximum_guests %></h6>
    <h6><i class="fas fa-home"></i> <strong>Home Type:</strong> <%= @listing.home_type %></h6>
    <h6><i class="fas fa-hotel"></i> <strong>Property Type:</strong> <%= @listing.property_type %></h6>
    <h6><i class="fas fa-bed"></i> <strong>Bed(s):</strong> <%= @listing.beds %></h6>
    <h6><i class="fas fa-toilet-paper"></i> <strong>Bathroom(s):</strong> <%= @listing.bathrooms %></h6>
    <h6><i class="fas fa-coffee"></i> <strong>Amenities:</strong> <%= @listing.amenities %></h6>
    <h6><i class="fas fa-hot-tub"></i> <strong>Shared Spaces:</strong> <%= @listing.shared_spaces %></h6>
    <hr class="my-4">
    <h3>Make a Reservation</h3></br>
    <%= form_with url: bookings_path(listing_id: @listing.id), local: true do |form| %>

      <div class="text-field">
        <%= form.label "Check-in Date:" %>
        <%= form.date_field :check_in, class:"datePicker form-control", placeholder:"Select your check-in date"%></br>
      </div>

      <div class="text-field">
        <%= form.label "Check-out Date:" %>
        <%= form.date_field :check_out, class:"datePicker form-control", placeholder:"Select your check-out date"%></br>
      </div>

      <div class="text-field mb-3">
        <%= form.label "Number of Guests:" %></br>
        <%= form.select :guests_count, ["1", "2", "3",
                                        "4", "5", "6",
                                        "7", "8", "9",
                                        "10", "11", "12",
                                        "13", "14", "15",
                                        "16", "17", "18",
                                        "19", "20"
                                      ],
                                      class:"form-control" %></br>
      </div>

      <div>
        <%= form.submit "Request Booking", class:"btn btn-danger"%>
      </div>

    <% end %>
  </div>
</div>
