<!-- Show Page for individual Listings -->
<div class="container-fluid d-flex mt-3">
  <div class="row">
    <div class="jumbotron col-8 d-inline border border-dark p-4">
      <h6>
        <%= @listing.property_type.upcase %></h6>
      <div class="d-flex">
        <h1 class="d-inline-block">
          <%= @listing.title %>
        </h1>
        <% if @listing.verified == true %>
          <h3 class="h-25 d-inline-block ml-3 mt-2">
            <span class="badge badge-success mb-5">Verified</span></h3>
        <% end %>
      </div>

      <h5 class="mb-4">
        <i class="fas fa-map-marked-alt mb-2"></i>
        <strong>Country/Region:
        </strong>
        <%= @listing.city %>,
        <%= @listing.country %>
      </h5>

      <div id="carouselExampleFade<%= @listing.id %>" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
          <% @listing.images.each_with_index do |image, i| %>
            <div class="carousel-item <%= " active" if i == 0 %>">
              <img class="d-block w-100" src="<%= image.url %>" alt="First slide">
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade<%= @listing.id %>" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade<%= @listing.id %>" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </br>
    <h6>
      <%= @listing.description %>
    </h6>
  </br>
  <h4>
    <i class="fas fa-dollar-sign"></i>
    <strong>Price per night:</strong>
    <%= @listing.price_per_night %>0 RM</h4>
</br>

<%# if @listing.bookings.payment_status == paid %>
  <%= link_to "Leave a review", new_listing_review_path(listing_id: @listing.id), class:"btn btn-outline-warning" %>
  <%# end %>

    <hr class="my-4">

    <div class="container justify-content-center">
      <!-- <div class="d-inline-block mr-5"> -->
      <div class="d-inline-block mr-5 mb-3">
        <div class="d-inline-block mr-3">
          <h5>
            <i class="fas fa-home"></i>
            <strong>Home Type:</strong>
            <%= @listing.home_type %></h5>
        </div>
        <div class="d-inline-block mr-3">
          <h5>
            <i class="fas fa-users"></i>
            <strong>Max. Guests:</strong>
            <%= @listing.maximum_guests %></h5>
        </div>
        <div class="d-inline-block mr-3">
          <h5>
            <i class="fas fa-bed"></i>
            <strong>Beds:</strong>
            <%= @listing.beds %></h5>
        </div>
        <div class="d-inline-block">
          <h5>
            <i class="fas fa-bath"></i>
            <strong>Bathrooms:</strong>
            <%= @listing.bathrooms %></h5>
        </div>
      </div>

      <div class="d-inline-block">
        <h5 class="mb-2">
          <i class="fas fa-wine-glass-alt"></i>
          <strong>Amenities:</strong>
          <% @listing.amenities.each do |amenity| %>
            •
            <%= amenity %>
          <% end %>
        </h5>
        <h5>
          <i class="fas fa-hot-tub"></i>
          <strong>Shared Spaces:</strong>
          <% @listing.shared_spaces.each do |space| %>
            •
            <%= space %>
          <% end %>
        </h5>
      </div>
    </div>

    <hr class="my-4">

    <div class="container d-flex">
      <h1 class="mb-4 d-inline"><%= @listing.reviews.count %>
        Reviews |
      </h1>
      <% if @reviews.count > 0 %>
        <h4 class="mt-3 ml-2">Average Rating:
          <%= (@reviews.sum(&:rating).to_f / @reviews.count.to_f).round(1) %>
          / 5.0</h4>
      <% else %>
        <h4 class="mt-3 ml-2">Average Rating: 0 / 5.0</h4>
      <% end %>
    </div>
    <% @listing.reviews.each do |review| %>
      <div class="container mb-3">
        <h4><%= review.user.first_name %>
        </h4>
        <p><%= review.created_at %></p>
        <p><%= review.comment %></p>
        <p>
          <strong>Rating:
          </strong><%= review.rating %>/5</p>
        <hr class="my-4">
      </div>
    <% end %>
  </div>
  <div class="col-4 d-inline">
    <div id="booking-sidebar" class="card p-4 border border-dark bg-light sticky-top sticky-offset">
      <h3 class="text-center">Like this? Request to Book.</h3>
    </br>
    <div class="text-center d-flex justify-content-center">

      <%= form_with url: bookings_path(listing_id: @listing.id), local: true do |form| %>
      <div class="text-field">
        <%= form.label "When do you want to check-in?" %>
        <%= form.date_field :check_in, class:"datePicker border border-primary text-center form-control", placeholder:"Select your check-in date"%></br>
    </div>

    <div class="text-field" style="width: 300px;">
      <%= form.label "When do you want to check-out?" %>
      <%= form.date_field :check_out, class:"datePicker border border-primary text-center form-control", placeholder:"Select your check-out date"%></br>
  </div>

  <div class="text-field mb-3">
    <%= form.label "Number of Guests:" %></br>
  <%= form.select :guests_count, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20" ], class:"form-control" %></br>
</div>

<div>
<%= form.submit "Request Booking", class:"btn btn-danger"%>
</div>

<% end %>
</div>
</div>
</div>

</div>
</div>
