<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.4.2/css/all.css' %>
  <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css' %>
  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'%>
  <%= stylesheet_link_tag    'https://npmcdn.com/flatpickr/dist/themes/airbnb.css'%>

  <%#= javascript_include_tag 'https://js.braintreegateway.com/web/3.6.3/js/client.min.js' %>
  <%#= javascript_include_tag 'https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js' %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.js" %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/flatpickr' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>
  <!-- Load external CDN's first, then load local application -->
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
  <title>ScamBnB: Plan your Vacation</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <i class="text-white fas fa-running"></i> <%= link_to "ScamBnB", root_path, class: "navbar-brand text-danger" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Use justify-content-between for this layout -->
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <form class="form-inline">
          <input class="form-control mr-sm-2" style="width: 325px;" type="search" placeholder="Where do you want to go?" aria-label="Search">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Let's Go!</button>
        </form>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Become a Host", new_listing_path, class: "nav-link" %>
        </li>
        <% if !signed_in? -%>
          <li class="nav-item">
            <%= link_to "Sign Up", sign_up_path, class: "nav-link text-warning" %>
          </li>
        <% else -%>
          <li class="nav-item">
            <%= link_to "My Profile", profile_path, class: "nav-link mr-2" %>
          </li>
        <% end %>

        <div id="header">
          <% if signed_in? -%>
          <%= button_to t(".sign_out"), sign_out_path, method: :delete, class:"btn btn-outline-danger my-2 my-sm-0"%>
          <% else -%>
          <%= link_to "Sign in with Google+", "/auth/google_oauth2", class:"btn btn-outline-primary my-2 my-sm-0" %>
          <% end -%>
        </div>
      </ul>
    </div>
  </nav>
  <!-- SUPER PIECE OF NIFTY CODE FOR HANDLING CUSTOM FLASH MESSAGES. REFER TO APPLICATION HELPER -->
  <div id="flash">
    <% flash.each do |key, value| -%>
    <div class="container mx-auto">
      <div class="<%= flash_class(key) %> mt-3 text-center" id="flash_<%= key %>"><%= h value %></div>
    </div>
    <% end %>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <footer class="footer bg-dark h-100">
    <p class="text-center text-white">ScamBnB 2018 &copy All rights reserved. Don't steal pls ok</p>
  </footer>

</body>
</html>
